---
import Hero from '@/components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
---

<Layout title="Tecnólogo en Gestion Documental">
	<main>
		<Hero/>
	</main>
</Layout>
