---
import Hero from "@/components/Hero.astro"
import { Information } from "@/components/Information"
import { Separator } from "@/components/ui/separator"
import "@/styles/globals.css"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tecnólogo en Gestion Documental">
	<main class="flex flex-col gap-16 sm:gap-24">
		<Hero showChevron />
		<Separator />
		<Information client:load />
		<Separator />
	</main>
</Layout>
