---
import BlurFade from "./magicui/blur-fade"
import CustomButton from "./ui/CustomButton.astro"
---

<section class="flex justify-between gap-5" id="home">
	<div class="flex flex-col items-center justify-between gap-5 sm:px-5 mt-28">
		<div class="flex flex-col gap-5">
			<BlurFade delay={0.25 * 2} client:load>
				<h1 class="text-pretty text-center text-4xl font-bold text-gray-900 sm:text-6xl">
					Tecnólogo en Gestión Documental
				</h1>
			</BlurFade>
			<BlurFade delay={0.25 * 3} client:load>
				<p class="text-balance text-center text-lg leading-6 text-gray-600">
					Desarrolla habilidades clave en gestión de archivos y documentos
				</p>
			</BlurFade>
		</div>

		<BlurFade delay={0.25 * 4} client:load>
			<CustomButton content="Inscribete ya" />
		</BlurFade>
	</div>

	<BlurFade delay={0.25 * 5} client:load className="h-fit w-full max-sm:hidden mt-28">
		<img src="/sena.jpeg" alt="" class="rounded-xl max-sm:hidden" />
	</BlurFade>
</section>
