---
import ShimmerButton from "@/components/magicui/shimmer-button"
import { ChevronRightIcon } from "lucide-react"

const { content } = Astro.props
---

<ShimmerButton background="#70b22d" className="w-56 shadow-2xl">
	<span class="whitespace-pre-wrap text-center text-sm font-medium leading-none tracking-tight text-white">
		{content}
	</span>
	<ChevronRightIcon
		className="ml-1 h-4 w-4 transition-transform duration-300 group-hover:translate-x-1"
	/>
</ShimmerButton>
